body {
  font-family: 'Funnel Sans', sans-serif;
  background-color: #cfe8fc;
}

.txt-black {
  color: #242526;
}

::selection {
  background-color: rgb(67,55,195,0.5);
}

#intro-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  #home {
    padding-top: 4rem;
    height: 95vh;
  }
}

#contact {
  padding-top: 4rem;
  height: 85vh;
}

#intro-text-top {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
}

@media (max-width: 768px) {
  #intro-text-top {
    font-weight: 500;
    font-size: 31px;
    line-height: 36px;
  }
}

#intro-text-bottom {
  margin-top: 4rem;
  color: #242526;
  font-size: 16px;
}

@media (max-width: 768px) {
  #intro-text-bottom {
    margin-top: 2rem;
    color: #242526;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  #contact {
    padding-top: 2rem;
    height: 85vh;
  }
}

.contact-text {
  color: #242526;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
}

#contact-list {
  display: flex;
  justify-content: space-between;
  padding-top: 12rem;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
}

#contact-list li:nth-child(1) {
  color: #ed5858;
}

/* navbar styles */

.navbar {
  padding: 1rem;
}

.navbar-toggler {
  border: 0 !important;
  float: right;
  pointer-events: auto;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #D84040;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */

.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar.bg-transparent {
  pointer-events: none;
}

.nav-item {
  font-size: 16px;
  font-weight: 500;
  pointer-events: auto;
}

/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.nav-link {
  color: #ed5858;
}

.nav-link:hover {
  color: #574bde;
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */

.navbar-toggler.collapsed .toggler-icon {
  background-color: #242526;
}

.projects-column {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.img-fluid {
  transition: filter 0.5s ease-in-out;
  width: 100%;
  height: auto;
}

.projects-column:hover .text-overlay {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.projects-column::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.projects-column:hover::after {
  opacity: 1;
}

.text-overlay {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4337c3;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

footer {
  height: 10vh;
  background: #fafafa;
}

/* bonsai */

#bo-display {
  font-family: 'Nunito';
  color: #3AD58B;
}

#bo-display-p {
  font-family: 'Nunito;
}

.bo-nav-link {
  color: #242526;
}

.bo-nav-link:hover {
  color: #3AD58B;
}

#bo-home {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*background: rgb(143,237,192);*/
  /*background: radial-gradient(circle, rgba(143,237,192,1) 0%, rgba(250,250,250,1) 88%);*/
  /*background: url("ffflux.svg");*/
  /*background-size: cover;*/
  /*background-position: right;*/
  /*background-repeat: no-repeat;*/
}

.bo-row {
  margin-top: 4rem;
}

@media (max-width: 992px) {
  .bo-img-col {
    margin-top: 2rem;
  }
}

.bo-subtitle {
  font-size: 26px;
  font-weight: 500;
}

.bo-bodytxt {
  font-weight: 300;
}

